<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <%
        include("../base/main.html"){}
    %>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="">
                <!--<img src="../images/childofline.jpg" style="width: 500px; height: 250px;"/>-->
                <br />
                <br />
                <div>
                    <form>
                        <!--表单控件-->
                        <input type="text" name="username" id="username" placeholder="用户名" class="form-control " />
                        <br />
                        <input type="password" name="password" id="password" placeholder="密码" class="form-control" />
                        <br />
                        <input type="submit" value="登录" class="btn btn-success" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>